@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

ul {
  margin-left: 1em;
}

nav {
  margin-top: 50px;
}

footer {
  background: -webkit-gradient(linear, left top, right top, from(#071b66), color-stop(30.95%, #10338c), to(#1c53c0));
  background: linear-gradient(90deg, #071b66 0%, #10338c 30.95%, #1c53c0 100%);
  width: 100vw;
  color: #fff;
}

.nav-button {
  padding-left: 4em;
}

.line {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

li,
.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.outer-container {
  position: relative;
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin-top: 5em;
}

.container::after {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#071b66), color-stop(30.95%, #10338c), to(#1c53c0));
  background: linear-gradient(90deg, #071b66 0%, #10338c 30.95%, #1c53c0 100%);
  width: 150vw;
  height: 100vh;
  z-index: -10;
  position: absolute;
  margin-top: -10em;
  -webkit-transform: translateX(-300px) translateY(-150px) rotate(-3deg);
          transform: translateX(-300px) translateY(-150px) rotate(-3deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.inner-container,
.footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.btn-contact {
  background: #00c1c1;
  -webkit-box-shadow: 7px 10px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 7px 10px 8px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  width: 130px;
  height: 42px;
  border: none;
}

.btn {
  color: #fff;
  height: 2.1rem;
  width: 140px;
  font-size: 12px;
  line-height: 162%;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 15px 3em 0;
}

.contact-btn {
  background-color: #00c1c1;
  border: none;
  background: #00c1c1;
  border-radius: 2.83333px;
}

.learn-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2.83333px;
}

.demo-button {
  border: none;
  background: #00c1c1;
  border-radius: 2.83333px;
  height: 68px;
  width: 185px;
  color: #fff;
}

.demo-desc {
  font-size: 18px;
  line-height: 162%;
  color: #4c4c4c;
}

.pod {
  text-align: center;
}

.pod-title {
  color: #10338c;
  font-weight: 900;
  font-size: 20px;
  line-height: 123%;
}

.pod-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 162%;
  width: 30ch;
  margin: 0 auto;
  margin-bottom: 1em;
}

.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  margin: 0 auto;
}

.marketing-section {
  position: relative;
}

.marketing-section::after {
  content: "";
  position: absolute;
  background-color: #f8f9fc;
  width: 150%;
  height: 104%;
  top: -25px;
  z-index: -10;
  left: -100px;
}

.testimonial {
  background: #ffffff;
  -webkit-box-shadow: 7px 10px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 7px 10px 8px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  max-width: 400px;
  margin: 0 auto;
  height: 100%;
}

.test-line {
  border: 1px solid #e5e5e5;
  width: 90%;
  margin: 0 auto;
}

.top-half,
.bottom-half,
.testimonial,
.demo-section,
.pod,
.marketing-section {
  margin-bottom: 2.5em;
  margin-top: 5em;
}

.test-title {
  color: #4c4c4c;
  font-size: 24px;
  max-width: 350px;
  margin: 1em auto;
}

.test-desc {
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  color: #4c4c4c;
  max-width: 350px;
  margin: 0.5em auto;
}

.test-desc,
.test-small,
.test-title {
  max-width: 350px;
  margin: 1em auto;
}

.t-one,
.t-two {
  padding-bottom: 0.5em;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author > img {
  height: 100%;
  margin-right: 1em;
}

.author-name > * {
  margin: 0;
  font-size: 12px;
}

.top-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3em;
}

.foot-line {
  margin-left: 2em;
  border-top: 1px solid #e5e5e5;
  width: 50%;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foot-bold {
  font-weight: 800;
  line-height: 20px;
}

.add {
  font-size: 12px;
  line-height: 20px;
}

.links > a {
  color: #fff;
  padding: 0.5em 0;
  font-size: 12px;
  line-height: 27px;
}

.footer-grid {
  padding-top: 3em;
}

.small-text {
  margin-top: 3em;
  color: #10338c;
  font-size: 14px;
  line-height: 150%;
}

.section1-text {
  padding-bottom: 1em;
}

.highlight-text {
  color: #00c1c1;
  margin: 0;
  padding: 1em;
}

.main-title {
  margin-top: 0;
}

.description-text {
  width: 40ch;
  line-height: 1.6em;
  letter-spacing: 1px;
}

.sub-titles {
  color: #10338c;
  font-weight: 900;
  font-size: 30px;
  line-height: 123%;
  width: 20ch;
}

.bullets {
  margin-bottom: 0.5em;
}

.fa-angle-down,
.fa-search {
  margin-left: 5px;
}

@media (max-width: 500px) {
  ul {
    margin-left: 0;
  }
  .inner-container,
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 380px;
  }
  .container::after {
    -webkit-transform: translateY(-500px) translateX(-50px) rotate(-3deg);
            transform: translateY(-500px) translateX(-50px) rotate(-3deg);
    height: 280vw;
  }
  .active {
    display: none;
  }
  .dropdown {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  li,
  .dropdown {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  nav {
    margin-top: 2em;
  }
  .top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-button {
    padding-left: 8em;
  }
  .image > img {
    width: 100%;
  }
  .bottom-half {
    position: relative;
  }
  .bottom-half::after {
    content: "";
    background-color: #f8f9fc;
    position: absolute;
    width: 115%;
    height: 105%;
    z-index: -10;
    top: -20px;
    right: -50px;
  }
  .footer-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .globalOffice-add {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .c-three,
  .c-four {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media (min-width: 800px) {
  .nav-button {
    display: none;
  }
}

@media (min-width: 1000px) {
  li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    margin-right: 2em;
  }
}
/*# sourceMappingURL=style.css.map */