@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

//Global Start

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
}
ul {
  margin-left: 1em;
}

nav {
  margin-top: 50px;
}

//Global End

// .outer-container {
//   margin: 0px 235px;
// }

//Nav Start
.nav-button {
  padding-left: 4em;
}

.line {
  width: 35px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
}

li,
.dropdown {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav-item {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

//Nav End

//Container Start

.container {
  display: flex;
  color: #fff;
  margin-top: 5em;
}

.container::after {
  content: "";
  background: linear-gradient(90deg, #071b66 0%, #10338c 30.95%, #1c53c0 100%);
  width: 150vw;
  height: 90%;
  z-index: -10;
  position: absolute;
  margin-top: -10em;
  transform: translateX(-300px) translateY(-50px) rotate(-3deg);

  box-sizing: border-box;
}

.inner-container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

//Container End

//Buttons Start

.btn-contact {
  background: #00c1c1;
  box-shadow: 7px 10px 8px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  width: 130px;
  height: 42px;
  border: none;
}

.btn {
  color: #fff;
  height: 2.1rem;
  width: 140px;
  font-size: 12px;
  line-height: 162%;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 15px 3em 0;
}

.contact-btn {
  background-color: #00c1c1;
  border: none;
  background: #00c1c1;
  border-radius: 2.83333px;
}

.learn-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2.83333px;
}

//Buttons End

.small-text {
  margin-top: 3em;
  color: #10338c;
  font-size: 14px;
  line-height: 150%;
}

.section1-text {
  padding-bottom: 1em;
}

.highlight-text {
  color: #00c1c1;
  margin: 0;
}
.main-title {
  margin-top: 0;
}

.description-text {
  width: 40ch;
  line-height: 1.6em;
  letter-spacing: 1px;
}

.sub-titles {
  color: #10338c;
  font-weight: 900;
  font-size: 30px;
  line-height: 123%;
}

.bullets {
  margin-bottom: 0.5em;
}

.testimonial {
  background: #FFFFFF;
box-shadow: 7px 10px 8px rgba(0, 0, 0, 0.08);
border-radius: 9px;
max-width: 400px;
margin:0 auto;
}

.test-line {
  border: 1px solid #E5E5E5;
  width: 90%;
  margin: 0 auto;
}

//Media Query's Start
@media (max-width: 500px) {
  .inner-container {
    flex-direction: column;
    max-width: 400px;
  }

  .container::after {
    transform: translateY(-500px) translateX(-30px) rotate(-3deg);
    height: 240vw;
  }

  .active {
    display: none;
  }

  .dropdown {
    flex-direction: column;
    justify-content: center;
  }

  li,
  .dropdown {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 2em;
  }

  .top-bar {
    display: flex;
    align-items: center;
  }

  .nav-button {
    padding-left: 10em;
  }

  .image > img {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .nav-button {
    display: none;
  }
}

@media (min-width: 1000px) {
  li {
    justify-content: center;
  }

  .logo {
    margin-right: 2em;
  }
}
//Media Query's End
